body {
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	
}

.container__images {
	width: 70%;
	margin: 3.3rem auto;
	position: relative;
}

.container__images::after {
	content: '';
	position: absolute;
	background: url("./images/pattern-bg.svg") no-repeat;
	background-size: contain;
	width: 120%;
	height: 120%;
	inset: 0;
	top: -10%;
	z-index: -1;
	left: -10%;
}

.container__images-tanya {
	width: 95%;
	border-radius: 10px;

}